<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
<%#自分の投稿に対するいいね、コメントは通知に表示しない%>
    <div class="text-center">
      <h2 class="m-5 fas fa-bell">通知</h2>
    </div>
    <%= link_to destroy_all_notifications_path, method: :delete do %>
      <div>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
      </div>
    <% end %>
    <hr>
    <% if @notifications.exists? %>
        <div class="users-index">
         <%= render @notifications %>
        </div>
    <% else %>
      <p>通知はありません</p>
    <% end %>
    </div>
  </div>
</div>