<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <div class="mt-3 text-center">
      <h2>ユーザ一覧</h2>
      </div>
      <%= paginate @users %>
      <%= render 'search_form' %>
      <div class="mt-3">
        <%= render 'index',users: @users %>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>