<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

      <div class="m-5">
       <h2 class="text-center">プロフィール</h2>
      </div>

      <div class="m-5 text-center">
        <label style="display:block;">ユーザー名</label>
        <%= @user.name %>
      </div>

      <div class="m-5 text-center">
        <%#=bootstrapあり%>
        <label style="display:block;">プロフィール画像</label>
        <%= attachment_image_tag(@user, :profile_image, fallback: "no-image.jpg", size:'150x150') %>
      </div>

      <div class="m-5 text-center" style="background-color:#FFFFFF;">
        <label style="display:block;">自己紹介</label>
        <%= safe_join(@user.introduction.split("\n"),tag(:br)) unless @user.introduction.nil? %>
      </div>

      <% if @user == current_user %>
        <p class = "text-center border">
          <%= link_to  edit_user_path(@user), class: "btn btn-whiht" do %>
        <i class="fas fa-user-cog">プロフィールを変更する</i>
          <% end %>
        </p>
      <% end %>

    </div>
  </div>
</div>
